@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.login{
  background: linear-gradient(360deg, #ffffffc2, #d5f9ff8f);
  border-style: solid;
  border-radius: 45px;
  border-color: orange;
  box-shadow: 0px 6px 5px rgb(49, 49, 49);
  padding: 100px;
}

.div-img{
  display: flex;
  align-items: center;
  justify-content: center;
}


form{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px;
}

form label{
  margin: 15px;
}

form label input {
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 18px;
}

#botoning{
  position: relative;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  background: rgb(240, 197, 119);
  margin: 10px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0px 5px 6px 0;
}

#botoning:hover{
  top:-3px;
  box-shadow: 0px 5px 6px 0;
}

#botoning a {
  text-decoration: none;
  color: black;
}

button{
  background: rgb(240, 197, 119);
  border: none;
}

form .link {
  color: black;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 13px;
  
}

.campos{
  text-align: center;
}

.text-muted{
  padding: 200px;
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 768px){
  .text-muted{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px){
  .text-muted{
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}

body {
  background-image: url(/img/fondo01.png);
  background-size: contain;
}

.autitos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
  grid-gap: 20px;
  position: relative;
  margin-right: 5%;
  grid-gap: 30px;
  max-width: 800px;
  place-items: center;
  
  
}

ul {
  list-style-type: none;
}

#auto1, #auto2, #auto3, #auto4, #auto5 {
  width: 300px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
  text-align: center;
  border: 6px solid orange;
  width: 400px; 
  height: 500px
}

#auto1 img, #auto2 img, #auto3 img, #auto4 img, #auto5 img {
  width: 365px;
  height: 249px;
  top: 180px;
  left: 800px;
  right: 800px;
  object-fit: cover;
  border: 2px solid black;
  margin-left: -8.67px;
 }


#subtituloautos {
  margin-left: 0%;
  margin-top: 1%;
  position: relative;
  right: 12%;
  background-color:#ff9500; 
  opacity: 45%;
  color: #fff;
  font-family: 'Font Voces', sans-serif;
  font-weight: 400; 
  font-size: 60px;
  padding: 0.5rem 1rem;
  border: white 2px;
  box-shadow: 0px 4px 6px rgb(0, 0, 0);
  text-align: center;
  width: fit-content;
}

#dato1, #dato6, #dato11, #dato16, #dato21 {
  margin-top: 7%;
  text-align: left;
  font-size: 150%;
  font-family: "Quicksand", sans-serif;
}

#dato2, #dato7, #dato12, #dato17, #dato22 {
  text-align: left;
  font-weight: bold;
  margin-top: 5%;
}

#dato3, #dato8, #dato13, #dato18, #dato23{
  text-align: left;
  margin-top: 5%;
  font-family: "Quicksand", sans-serif;
  font-size: large;
}

#dato4, #dato24 {
  text-align: right;
  margin-top: 3%;
  font-family: "Quicksand", sans-serif;
}

#dato19{
  text-align: right;
  margin-top: -5%;
  font-family: "Quicksand", sans-serif;
}

#dato9 {
  text-align: right;
  margin-top: 5%;
  font-family: "Quicksand", sans-serif;
}

#dato14{
  text-align: right;
  margin-top: 4%;
  font-family: "Quicksand", sans-serif;
  
}


.button {
  position: absolute;
  border: none;
  background-color: white;
  color: #212121;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 300;
  gap: 5px;
  border-radius: 10px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.button span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  background-color: #ff9500; 
  width: 100%;
  height: 100%;
  left: 0%;
  bottom: 0%;
  transform: translate(-100%, 100%);
  border-radius: inherit;
}

.button svg {
  fill: #ff9500; 
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  animation: shakeBack 0.6s forwards;
}

.button:hover svg {
  fill: white;
  scale: 1.3;
}

.button:active {
  box-shadow: none;
}

@keyframes shakeBack {
  0% {
    transform: translate(-100%, 100%);
  }

  50% {
    transform: translate(20%, -20%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

.masInfo{
  display: flex;
  margin-left: auto;
  margin-top: -11%;
}


.button img{
transition: transform 0.3s ease-in-out;
}


.masInfo{
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  border: bold;
  position: relative;
  top: 2%;
  border: none;
  
}

.masInfo #imagenMas1, .masInfo #imagenMas2, .masInfo #imagenMas3, .masInfo #imagenMas4, .masInfo #imagenMas5{
  width: 20px;
  height: 20px;
  align-items: center;
  border: white;
  position: relative;
  left: 41%;
  top: -15%;
}


.autitos ul,
.autitos ul li {
  box-sizing: border-box;
}


/* 768 x 1024 px */
@media (min-width: 768px) and (max-width: 1024px) {
  .autitos {
    width: 100%; /* Pantalla completa en elementos pequeños */
    display: flex; /* Cambia a flexbox para que se stackeen verticalmente */
    flex-wrap: wrap; /* Controla la dirección en la cual serán apilados los elementos */
    margin: center;
    gap: 0px;
  }

  .autitos ul {
    width: 100%;
  }

#dato1, #dato6, #dato11, #dato16, #dato21 {
  font-size: 25px;
}
#dato2, #dato7, #dato12, #dato17, #dato22 {
  font-size: 16px;
}

#dato3, #dato8, #dato13, #dato18, #dato23 {
  font-size: 18px;
}
#dato4, #dato9, #dato14, #dato19, #dato24{
  font-size: 16px;
}

#dato9, #dato4, #dato24 {
       margin-top: 0.05%;
  }
#dato14, #dato19 {
      margin-top: -2%;
}

#subtituloautos{
  margin-left: 10%;
  font-size: 30px;
}
#boton1, #boton2, #boton3, #boton4, #boton5 {
  display: none;
}
#auto1 img, #auto2 img, #auto3 img, #auto4 img, #auto5 img {
  width: 250px;
  height: 150px;
}
#auto1, #auto2, #auto3, #auto4, #auto5 {
  width: 300px; 
  height: 400px
}
.autitos button{
  display: none;
}
}

/* 320 x 568 px */

@media (max-width: 767px) {
  .autitos {
    width: 100%; /* Pantalla completa en elementos pequeños */
    display: flex; /* Cambia a flexbox para que se stackeen verticalmente */
    flex-wrap: wrap; /* Controla la dirección en la cual serán apilados los elementos */
    margin: center;
    gap: 0px;
  }

  .autitos ul {
    width: 100%;
  }

#dato1, #dato6, #dato11, #dato16, #dato21 {
  font-size: 20px;
}
#dato2, #dato7, #dato12, #dato17, #dato22 {
  font-size: 12px;
}

#dato3, #dato8, #dato13, #dato18, #dato23 {
  font-size: 16px;
}
#dato4, #dato9, #dato14, #dato19, #dato24{
  font-size: 12px;
}

#dato9, #dato4, #dato24 {
       margin-top: 0.05%;
  }
#dato14, #dato19 {
      margin-top: -2%;
}

#subtituloautos{
  margin-left: 10%;
  font-size: 30px;
}
#boton1, #boton2, #boton3, #boton4, #boton5 {
  display: none;
}
#auto1 img, #auto2 img, #auto3 img, #auto4 img, #auto5 img {
  width: 200px;
  height: 100px;
}
#auto1, #auto2, #auto3, #auto4, #auto5 {
  width: 300px; 
  height: 330px
}
.autitos button{
  display: none;
}
}
